---
layout: main
title: Trainers
permalink: /trainers/
team:
  - image: /images/member1.jpg
    name: Peter Petrov
    position: CEO
    description: The only thing he loves more than gaming is racing
  - image: /images/member2.jpeg
    name: Georgi Georgiev
    position: League of Legends Trainer
    description: The only player to win the world tournament 4 times
  - image: /images/member3.jpg
    name: Ivon Ivanova
    position: Fortnite Trainer
    description: Can beat all of you with his hands behind his back
  - image: /images/member4.jpg
    name: Davind Willson
    position: Cs Go Trainer
    description: Minimum 5 headedshots per round
  - image: /images/member5.jpg
    name: Ginka Georgieva
    position: Hearthstone Trainer
    description: Proffessional player and memer
  - image: /images/member6.jpg
    name: Stanislava Angelova
    position: PUBG Trainer
    description: Master of PUBG and party animal
---


<section class="team">
  <h2>Training Team</h2>
  <ul>
  {% for item in page.team %}
    <li>
      <div class="team-wrapper">
          <div class="image-wrapper">
              <img src="{{ site.baseurl }}{{ item.image }}" alt="member"> 
            </div>
            <h5>{{ item.name }}</h5>
            <h6>{{ item.position }}</h6>
            <p>{{ item.description }}</p>
            <ul>
            {% for item in site.social-media %}
              <li>
                <a href="{{ item.url }}">
                  <i class="fab {{ item.icon }}"></i>
                </a>
              </li>
            {% endfor %}
            </ul>  
      </div> 
    </li>
  {% endfor %}
  </ul>
</section>