@import url("https://fonts.googleapis.com/css?family=Lacquer&display=swap");
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&display=swap");
:root {
  --main-blue-color: #6598d1;
  --main-gold-color: #e68a00;
  --main-grey-color: #797979;
  --color-link-default: #0A0;
  --main-background-color: #070707; }

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font: var(--font-size-body, 16px)/1.5 "PT Sans", sans-serif; }

body, table, form, select, option, input, textarea {
  font: inherit; }

body {
  background: var(--main-background-color); }

.site-title,
h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
  margin-bottom: 0.5em;
  font-weight: normal;
  font-family: 'Lacquer', sans-serif; }

h1 {
  font-size: 2.6em; }

h2 {
  font-size: 2.0em; }

h3 {
  font-size: 1.8em; }

h4 {
  font-size: 1.4em; }

h5 {
  font-size: 1.2em; }

h6 {
  font-size: 1.0em; }

a {
  text-decoration: none;
  color: var(--color-link-default, #0A0); }

p, ul, ol {
  padding-bottom: 1.5em; }

ul, ol {
  padding-left: 2em; }

ul ul, ol ul, ul ol, ol ol {
  padding-top: 0.5em;
  padding-bottom: 0.5em; }

ol > li > ol > li {
  list-style-type: lower-roman; }

blockquote {
  padding: 1rem; }

blockquote .author {
  font-style: italic;
  text-align: right;
  opacity: 0.5; }

blockquote .author:before {
  display: inline-block;
  content: '\2014';
  padding-right: 0.5em; }

@media (min-width: 320px) and (max-width: 479px) {
  html {
    font-size: 10px; } }

@media (min-width: 480px) and (max-width: 639px) {
  html {
    font-size: 12px; } }

@media (min-width: 640px) and (max-width: 767px) {
  html {
    font-size: 12px; } }

@media (min-width: 768px) and (max-width: 959px) {
  html {
    font-size: 12px; } }

@media (min-width: 960px) and (max-width: 1023px) {
  html {
    font-size: 14px; } }

@media (min-width: 1024px) and (max-width: 1599px) {
  html {
    font-size: 16px; }
    html body {
      background: var(--main-background-color); }
    html .site {
      max-width: 1024px;
      margin: 0 auto; } }

@media (min-width: 1600px) {
  html {
    font-size: 22px; }
  body {
    background: var(--main-background-color); }
  .site {
    max-width: 1600px;
    margin: 0 auto; } }

.site-header {
  background: var(--main-background-color);
  border-bottom: 5px solid var(--main-blue-color); }
  .site-header .header-wrapper {
    padding: 0 2em;
    display: flex;
    align-items: center; }
    @media (min-width: 320px) and (max-width: 479px) {
      .site-header .header-wrapper {
        display: block;
        text-align: center; } }
    @media (min-width: 480px) and (max-width: 639px) {
      .site-header .header-wrapper {
        display: block;
        text-align: center; } }

.header-wrapper a {
  padding: 0;
  margin: 0;
  display: block; }

.header-wrapper img {
  width: 200px;
  height: 100px;
  display: block;
  opacity: 0;
  transform: translateY(10em);
  transition: opacity 1s ease-in-out 0.8s, transform 1s ease-out 0.8s; }
  @media (min-width: 320px) and (max-width: 479px) {
    .header-wrapper img {
      width: 100px;
      height: 50px;
      margin: 0 auto; } }
  @media (min-width: 480px) and (max-width: 639px) {
    .header-wrapper img {
      width: 200px;
      height: 100px;
      margin: 0 auto; } }
  @media (min-width: 1600px) and (max-width: 1920px) {
    .header-wrapper img {
      width: 350px;
      height: 200px; } }

body.loaded .header-wrapper img {
  opacity: 1;
  transform: translateY(0); }

.site-nav.location-header {
  margin-left: auto;
  display: flex; }
  .site-nav.location-header ul {
    display: flex;
    margin: 0;
    padding: 0; }
    @media (min-width: 320px) and (max-width: 479px) {
      .site-nav.location-header ul {
        display: block;
        margin: 0 auto; } }
    @media (min-width: 480px) and (max-width: 639px) {
      .site-nav.location-header ul {
        display: block;
        margin: 0 auto; } }
  .site-nav.location-header li {
    list-style: none outside;
    margin: 0 0.2em;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    padding: 0.5em;
    position: relative;
    opacity: 0;
    transform: translate(-2em, -4em);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-out; }
    @media (min-width: 320px) and (max-width: 479px) {
      .site-nav.location-header li {
        margin: 1em 0;
        padding: 0; } }
    @media (min-width: 480px) and (max-width: 639px) {
      .site-nav.location-header li {
        margin: 1em 0;
        padding: 0; } }
    .site-nav.location-header li:nth-child(2) {
      transition-delay: 0.1s; }
    .site-nav.location-header li:nth-child(3) {
      transition-delay: 0.2s; }
    .site-nav.location-header li:nth-child(4) {
      transition-delay: 0.3s; }
    .site-nav.location-header li:nth-child(5) {
      transition-delay: 0.6s;
      margin-left: 3em;
      transform: translateX(4em); }
      @media (min-width: 320px) and (max-width: 479px) {
        .site-nav.location-header li:nth-child(5) {
          margin-left: 0; } }
      @media (min-width: 480px) and (max-width: 639px) {
        .site-nav.location-header li:nth-child(5) {
          margin-left: 0; } }
    .site-nav.location-header li:nth-child(6) {
      transition-delay: 0.7s;
      transform: translateX(2em); }

body.loaded .site-nav.location-header li {
  opacity: 1;
  transform: translate(0, 0); }

.site-nav.location-header li ul {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid var(--main-blue-color);
  box-shadow: 4px 15px 42px -9px #000469; }
  @media (min-width: 320px) and (max-width: 479px) {
    .site-nav.location-header li ul {
      opacity: 1;
      pointer-events: all;
      position: relative;
      border: none;
      box-shadow: none; } }
  @media (min-width: 480px) and (max-width: 639px) {
    .site-nav.location-header li ul {
      opacity: 1;
      pointer-events: all;
      position: relative;
      border: none;
      box-shadow: none; } }
  @media (min-width: 320px) and (max-width: 479px) {
    .site-nav.location-header li ul li:nth-child(1) {
      display: none; } }
  @media (min-width: 480px) and (max-width: 639px) {
    .site-nav.location-header li ul li:nth-child(1) {
      display: none; } }

.site-nav.location-header ul li:hover {
  -webkit-animation: border 5s ease-in infinite;
          animation: border 5s ease-in infinite; }
  @media (min-width: 320px) and (max-width: 479px) {
    .site-nav.location-header ul li:hover {
      -webkit-animation: none;
              animation: none; } }
  @media (min-width: 480px) and (max-width: 639px) {
    .site-nav.location-header ul li:hover {
      -webkit-animation: none;
              animation: none; } }
  .site-nav.location-header ul li:hover ul {
    opacity: 1;
    pointer-events: all;
    background: white;
    -webkit-animation: transition 0.5s ease-in-out;
            animation: transition 0.5s ease-in-out; }
    @media (min-width: 320px) and (max-width: 479px) {
      .site-nav.location-header ul li:hover ul {
        background: var(--main-background-color);
        -webkit-animation: none;
                animation: none; } }
    @media (min-width: 480px) and (max-width: 639px) {
      .site-nav.location-header ul li:hover ul {
        background: var(--main-background-color);
        -webkit-animation: none;
                animation: none; } }
    .site-nav.location-header ul li:hover ul li {
      padding: 0.7em;
      -webkit-animation: none;
              animation: none;
      border: none;
      margin: 0; }
      @media (min-width: 320px) and (max-width: 479px) {
        .site-nav.location-header ul li:hover ul li:nth-child(1) {
          text-align: center;
          opacity: 1;
          transform: translateX(0);
          transition: none; } }

.site-nav.location-header li a {
  text-decoration: none;
  font-family: 'Lacquer', sans-serif;
  color: var(--main-blue-color);
  padding: 0 0.2em; }
  @media (min-width: 320px) and (max-width: 479px) {
    .site-nav.location-header li a i {
      display: none; } }
  @media (min-width: 480px) and (max-width: 639px) {
    .site-nav.location-header li a i {
      display: none; } }

.site-nav.location-header li ul li:hover {
  background: var(--main-blue-color); }
  @media (min-width: 320px) and (max-width: 479px) {
    .site-nav.location-header li ul li:hover {
      background: inherit; } }
  @media (min-width: 480px) and (max-width: 639px) {
    .site-nav.location-header li ul li:hover {
      background: inherit; } }
  .site-nav.location-header li ul li:hover a {
    color: white; }
    @media (min-width: 320px) and (max-width: 479px) {
      .site-nav.location-header li ul li:hover a {
        color: var(--main-blue-color); } }
    @media (min-width: 480px) and (max-width: 639px) {
      .site-nav.location-header li ul li:hover a {
        color: var(--main-blue-color); } }

.site-nav.location-header ul li:nth-child(5) a, .site-nav.location-header ul li:nth-child(6) a {
  font-weight: bolder;
  color: var(--main-gold-color); }

@-webkit-keyframes border {
  0% {
    border-color: var(--main-gold-color); }
  25% {
    border-color: #6666ff; }
  50% {
    border-color: #2d2d2d; }
  75% {
    border-color: #6666ff; }
  100% {
    border-color: var(--main-gold-color); } }

@keyframes border {
  0% {
    border-color: var(--main-gold-color); }
  25% {
    border-color: #6666ff; }
  50% {
    border-color: #2d2d2d; }
  75% {
    border-color: #6666ff; }
  100% {
    border-color: var(--main-gold-color); } }

@-webkit-keyframes transition {
  0% {
    opacity: 0;
    transform: translate(-4em, -2em); }
  100% {
    opacity: 1;
    transform: translate(-50%, 0); } }

@keyframes transition {
  0% {
    opacity: 0;
    transform: translate(-4em, -2em); }
  100% {
    opacity: 1;
    transform: translate(-50%, 0); } }

.site-banner {
  display: flex;
  flex-wrap: wrap;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/Pro_Gaming_Academy/images/kv.jpg") no-repeat center center;
  background-size: cover; }
  .site-banner .addvert {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    @media (min-width: 320px) and (max-width: 479px) {
      .site-banner .addvert {
        margin: 0 auto; } }
    @media (min-width: 480px) and (max-width: 639px) {
      .site-banner .addvert {
        margin: 0 auto; } }
    .site-banner .addvert h2, .site-banner .addvert h3 {
      text-align: center;
      padding-top: 0.5em;
      width: 100%;
      opacity: 0;
      -webkit-animation-name: banner;
              animation-name: banner;
      -webkit-animation-duration: 2s;
              animation-duration: 2s;
      -webkit-animation-fill-mode: forwards;
              animation-fill-mode: forwards;
      -webkit-animation-delay: 1.5s;
              animation-delay: 1.5s; }
    .site-banner .addvert h2 {
      color: var(--main-gold-color);
      text-shadow: 1px 1px white; }
      .site-banner .addvert h2:last-child {
        padding-bottom: 2em; }
    .site-banner .addvert h3 {
      color: white;
      text-shadow: 1px 1px var(--main-gold-color); }
      .site-banner .addvert h3:first-child {
        padding-top: 3em; }
  .site-banner .button-wrapper {
    padding-top: 4em;
    padding-bottom: 6em;
    width: 100%;
    text-align: center; }
    .site-banner .button-wrapper .button {
      font-size: 1.5em;
      padding: 0.5em 1em;
      border: 3px solid white;
      color: var(--main-gold-color);
      border-radius: 0.4em;
      background: rgba(7, 7, 7, 0.5);
      -webkit-animation: button 3s ease-in-out 2.5s forwards;
              animation: button 3s ease-in-out 2.5s forwards;
      opacity: 0; }
      .site-banner .button-wrapper .button:hover {
        border-color: var(--main-gold-color);
        color: white; }

.loaded .button {
  opacity: 1; }

@-webkit-keyframes banner {
  0% {
    opacity: 0.5;
    transform: translateX(10em); }
  50% {
    opacity: 1;
    transform: translateX(-5em); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes banner {
  0% {
    opacity: 0.5;
    transform: translateX(10em); }
  50% {
    opacity: 1;
    transform: translateX(-5em); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@-webkit-keyframes button {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }

@keyframes button {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }

.team {
  padding: 0 4em;
  background: var(--main-background-color); }
  .team h2 {
    text-align: center;
    margin-bottom: 2em;
    color: var(--main-gold-color); }
    .team h2::after {
      display: block;
      content: '';
      border-bottom: 5px solid var(--main-blue-color);
      max-width: 15%;
      margin: 1em auto; }
  .team ul {
    display: flex;
    flex-wrap: wrap; }
    @media (min-width: 320px) and (max-width: 479px) {
      .team ul {
        display: block; } }
    @media (min-width: 480px) and (max-width: 639px) {
      .team ul {
        display: block; } }
    .team ul li {
      list-style: none outside;
      text-align: center;
      flex-basis: 30%;
      margin-right: 2em;
      margin-bottom: 2em;
      opacity: 0;
      transform: translateY(-2em);
      transition: opacity 0.5s ease-in-out, transform 0.5s ease-out;
      transition-delay: 1.5s; }
      @media (min-width: 320px) and (max-width: 479px) {
        .team ul li {
          margin-bottom: 15em;
          margin-top: 15em; } }
      @media (min-width: 480px) and (max-width: 639px) {
        .team ul li {
          margin-bottom: 10em;
          margin-top: 10em; } }
      @media (min-width: 640px) and (max-width: 767px) {
        .team ul li {
          flex-basis: 45%;
          margin-bottom: 5em;
          margin-top: 5em; } }
      @media (min-width: 768px) and (max-width: 959px) {
        .team ul li {
          flex-basis: 45%;
          margin-bottom: 5em;
          margin-top: 5em; } }
      @media (min-width: 960px) and (max-width: 1023px) {
        .team ul li {
          flex-basis: 45%;
          margin-bottom: 5em;
          margin-top: 5em; } }
      @media (min-width: 1024px) and (max-width: 1599px) {
        .team ul li {
          flex-basis: 45%;
          margin-bottom: 2em;
          margin-top: 2em; } }
      @media (min-width: 1600px) and (max-width: 1920px) {
        .team ul li {
          margin-bottom: 5em;
          margin-top: 5em; } }
      .team ul li:hover ul {
        background: var(--main-blue-color); }
        .team ul li:hover ul i {
          color: var(--main-gold-color); }
      .team ul li .team-wrapper {
        box-shadow: 10px 10px 45px 0px rgba(255, 255, 255, 0.75);
        width: 70%;
        margin: 0 auto;
        position: relative;
        border-radius: 1em;
        margin-top: 5em; }
        .team ul li .team-wrapper::before {
          display: block;
          content: '';
          padding-top: 50%; }
          @media (min-width: 320px) and (max-width: 479px) {
            .team ul li .team-wrapper::before {
              padding-top: 30%; } }
          @media (min-width: 480px) and (max-width: 639px) {
            .team ul li .team-wrapper::before {
              padding-top: 40%; } }
          @media (min-width: 640px) and (max-width: 767px) {
            .team ul li .team-wrapper::before {
              padding-top: 40%; } }
          @media (min-width: 768px) and (max-width: 959px) {
            .team ul li .team-wrapper::before {
              padding-top: 40%; } }
          @media (min-width: 960px) and (max-width: 1023px) {
            .team ul li .team-wrapper::before {
              padding-top: 40%; } }
        @media (min-width: 320px) and (max-width: 479px) {
          .team ul li .team-wrapper {
            width: 100%; } }
        @media (min-width: 480px) and (max-width: 639px) {
          .team ul li .team-wrapper {
            width: 70%; } }
        @media (min-width: 640px) and (max-width: 767px) {
          .team ul li .team-wrapper {
            width: 100%; } }
        @media (min-width: 768px) and (max-width: 959px) {
          .team ul li .team-wrapper {
            width: 80%; } }
        @media (min-width: 960px) and (max-width: 1023px) {
          .team ul li .team-wrapper {
            width: 80%; } }
        @media (min-width: 1600px) and (max-width: 1920px) {
          .team ul li .team-wrapper {
            width: 90%; } }
      .team ul li .image-wrapper img {
        width: 150px;
        height: 200px;
        overflow: hidden;
        border-radius: 5em;
        position: absolute;
        bottom: 70%;
        left: 50%;
        transform: translateX(-50%); }
        @media (min-width: 320px) and (max-width: 479px) {
          .team ul li .image-wrapper img {
            max-width: 100px;
            max-height: 150px;
            bottom: 80%; } }
        @media (min-width: 480px) and (max-width: 639px) {
          .team ul li .image-wrapper img {
            max-width: 100px;
            max-height: 150px;
            bottom: 80%; } }
        @media (min-width: 640px) and (max-width: 767px) {
          .team ul li .image-wrapper img {
            max-width: 150px;
            max-height: 200px;
            bottom: 70%; } }
        @media (min-width: 768px) and (max-width: 959px) {
          .team ul li .image-wrapper img {
            max-width: 150px;
            max-height: 200px;
            bottom: 70%; } }
        @media (min-width: 960px) and (max-width: 1023px) {
          .team ul li .image-wrapper img {
            max-width: 150px;
            max-height: 200px;
            bottom: 70%; } }
        @media (min-width: 1600px) and (max-width: 1920px) {
          .team ul li .image-wrapper img {
            bottom: 80%;
            width: 200px;
            height: 250px; } }
      .team ul li h5 {
        width: 100%;
        color: var(--main-gold-color);
        margin-bottom: 1em; }
      .team ul li h6 {
        width: 100%;
        color: var(--main-blue-color);
        margin-bottom: 1em; }
      .team ul li p {
        width: 70%;
        margin: 0 auto;
        color: white; }
      .team ul li ul {
        background: white;
        border-bottom-left-radius: 1em;
        border-bottom-right-radius: 1em; }
        @media (min-width: 320px) and (max-width: 479px) {
          .team ul li ul {
            display: flex;
            justify-content: center;
            padding: 1em 0; } }
        @media (min-width: 480px) and (max-width: 639px) {
          .team ul li ul {
            display: flex;
            justify-content: center;
            padding: 1em 0; } }
        @media (min-width: 640px) and (max-width: 767px) {
          .team ul li ul {
            display: flex;
            justify-content: center;
            padding: 1em 0; } }
        @media (min-width: 768px) and (max-width: 959px) {
          .team ul li ul {
            display: flex;
            justify-content: center;
            padding: 1em 0; } }
        @media (min-width: 960px) and (max-width: 1023px) {
          .team ul li ul {
            display: flex;
            justify-content: center;
            padding: 1em 0; } }
        @media (min-width: 1024px) and (max-width: 1599px) {
          .team ul li ul {
            display: flex;
            justify-content: center;
            padding: 1em 0; } }
        @media (min-width: 1600px) and (max-width: 1920px) {
          .team ul li ul {
            display: flex;
            justify-content: center;
            padding: 1em 0; } }
        .team ul li ul li {
          margin: 0 0 0 0.8em;
          padding: 0;
          flex-basis: 0; }
          .team ul li ul li i {
            font-size: 1.5em;
            color: var(--main-blue-color); }

.loaded .team li {
  opacity: 1;
  transform: translateY(0); }

body.page-login, body.page-register {
  margin: 8em auto;
  background: linear-gradient(rgba(7, 7, 7, 0.7), rgba(7, 7, 7, 0.7)), url("/Pro_Gaming_Academy/images/register.jpg") no-repeat center center; }
  @media (min-width: 480px) and (max-width: 639px) {
    body.page-login, body.page-register {
      margin: 3em auto; } }
  @media (min-width: 640px) and (max-width: 767px) {
    body.page-login, body.page-register {
      margin: 2em auto; } }
  @media (min-width: 768px) and (max-width: 959px) {
    body.page-login, body.page-register {
      margin: 2em auto; } }
  @media (min-width: 960px) and (max-width: 1023px) {
    body.page-login, body.page-register {
      margin: 2em auto; } }
  @media (min-width: 1024px) and (max-width: 1599px) {
    body.page-login, body.page-register {
      margin: 2em auto; } }
  @media (min-width: 1600px) and (max-width: 1920px) {
    body.page-login, body.page-register {
      margin: 0em auto; } }

.form {
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2em; }
  @media (min-width: 320px) and (max-width: 479px) {
    .form {
      margin: 0 auto;
      padding: 10em auto; } }
  @media (min-width: 1024px) and (max-width: 1599px) {
    .form {
      max-width: 1024px;
      margin: 0 auto; } }
  .form a {
    width: 100%;
    text-align: center; }
  .form img {
    width: 200px;
    height: 100px; }
  .form .form-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 35%;
    margin: 0 auto;
    background: rgba(7, 7, 7, 0.7);
    border-radius: 2em; }
    @media (min-width: 320px) and (max-width: 479px) {
      .form .form-wrapper {
        width: 100%; } }
    @media (min-width: 480px) and (max-width: 639px) {
      .form .form-wrapper {
        width: 70%; } }
    @media (min-width: 640px) and (max-width: 767px) {
      .form .form-wrapper {
        width: 60%; } }
    @media (min-width: 768px) and (max-width: 959px) {
      .form .form-wrapper {
        width: 45%; } }
    @media (min-width: 960px) and (max-width: 1023px) {
      .form .form-wrapper {
        width: 40%; } }
    @media (min-width: 1024px) and (max-width: 1599px) {
      .form .form-wrapper {
        width: 45%; } }
    .form .form-wrapper h2 {
      text-align: center;
      width: 100%;
      padding-top: 1em;
      color: var(--main-gold-color); }
    .form .form-wrapper a {
      font-weight: bold;
      font-size: 1.2em;
      color: var(--main-gold-color);
      margin-bottom: 1em; }
    .form .form-wrapper form {
      width: 100%;
      text-align: center; }
      .form .form-wrapper form a {
        width: 100%;
        display: block;
        color: var(--main-gold-color);
        margin-bottom: 1em;
        font-weight: normal;
        font-size: 1em; }
      .form .form-wrapper form input[type="submit"] {
        padding: 0.5em 2em;
        background: var(--main-blue-color);
        color: white;
        margin-bottom: 1em;
        font-weight: bold; }
        .form .form-wrapper form input[type="submit"]:hover {
          background: white;
          color: var(--main-blue-color);
          border-color: var(--main-blue-color); }
        @media (min-width: 640px) and (max-width: 767px) {
          .form .form-wrapper form input[type="submit"] {
            width: 60%; } }
        @media (min-width: 768px) and (max-width: 959px) {
          .form .form-wrapper form input[type="submit"] {
            width: 60%; } }
        @media (min-width: 960px) and (max-width: 1023px) {
          .form .form-wrapper form input[type="submit"] {
            width: 60%; } }
      .form .form-wrapper form p {
        padding: 0.4em 0;
        background: rgba(45, 44, 42, 0.9);
        max-width: 85%;
        margin: 1em auto; }
        @media (min-width: 640px) and (max-width: 767px) {
          .form .form-wrapper form p {
            margin: 2em auto; } }
        .form .form-wrapper form p input {
          background: rgba(30, 29, 27, 0.7);
          outline: none;
          border: 1px solid #1e1d1b;
          width: 85%;
          padding: 0.4em; }
          .form .form-wrapper form p input:focus {
            border: 1px solid white; }
          .form .form-wrapper form p input::-webkit-input-placeholder {
            color: white; }
          .form .form-wrapper form p input::-moz-placeholder {
            color: white; }
          .form .form-wrapper form p input:-ms-input-placeholder {
            color: white; }
          .form .form-wrapper form p input::-ms-input-placeholder {
            color: white; }
          .form .form-wrapper form p input::placeholder {
            color: white; }
        .form .form-wrapper form p i {
          margin: 0 0.6em;
          color: white; }
      .form .form-wrapper form .forgot-password {
        display: flex;
        justify-content: space-between;
        margin: 2em 0 4em 0; }
        @media (min-width: 768px) and (max-width: 959px) {
          .form .form-wrapper form .forgot-password {
            margin: 2em 0; } }
        @media (min-width: 960px) and (max-width: 1023px) {
          .form .form-wrapper form .forgot-password {
            margin: 2em 0; } }
    .form .form-wrapper .form-social {
      text-align: center; }
      .form .form-wrapper .form-social p {
        color: white; }
      .form .form-wrapper .form-social ul {
        display: flex;
        justify-content: center; }
        .form .form-wrapper .form-social ul li {
          list-style: none outside; }
          .form .form-wrapper .form-social ul li i {
            font-size: 1.5em;
            margin-right: 0.5em;
            color: white;
            padding: 0.3em;
            border-radius: 50%;
            background: rgba(45, 44, 42, 0.7); }
            .form .form-wrapper .form-social ul li i:nth-child(3) {
              margin-right: 0; }

.contacts {
  background: var(--main-background-color);
  padding: 1em 3em;
  display: flex;
  flex-wrap: wrap; }
  .contacts h2 {
    color: var(--main-gold-color);
    width: 100%;
    margin-bottom: 1em; }
  .contacts .contact-form {
    flex-basis: 60%; }
    @media (min-width: 320px) and (max-width: 479px) {
      .contacts .contact-form {
        flex-basis: 100%; } }
    @media (min-width: 480px) and (max-width: 639px) {
      .contacts .contact-form {
        flex-basis: 100%; } }
    @media (min-width: 640px) and (max-width: 767px) {
      .contacts .contact-form {
        flex-basis: 100%; } }
    .contacts .contact-form form {
      width: 100%;
      margin: 0 auto; }
      .contacts .contact-form form p {
        width: 100%; }
      .contacts .contact-form form input {
        width: 60%;
        padding: 0.3em 1em;
        border-radius: 0.5em;
        border: 3px solid var(--main-grey-color);
        outline: none;
        color: var(--main-blue-color);
        font-size: 1.2em; }
        @media (min-width: 320px) and (max-width: 479px) {
          .contacts .contact-form form input {
            width: 100%; } }
        @media (min-width: 480px) and (max-width: 639px) {
          .contacts .contact-form form input {
            width: 100%; } }
        @media (min-width: 640px) and (max-width: 767px) {
          .contacts .contact-form form input {
            width: 100%; } }
        .contacts .contact-form form input:hover {
          border-color: var(--main-gold-color); }
        .contacts .contact-form form input:focus {
          border-color: #0A0; }
        .contacts .contact-form form input::-webkit-input-placeholder {
          color: var(--main-grey-color); }
        .contacts .contact-form form input::-moz-placeholder {
          color: var(--main-grey-color); }
        .contacts .contact-form form input:-ms-input-placeholder {
          color: var(--main-grey-color); }
        .contacts .contact-form form input::-ms-input-placeholder {
          color: var(--main-grey-color); }
        .contacts .contact-form form input::placeholder {
          color: var(--main-grey-color); }
      .contacts .contact-form form textarea {
        padding: 0.3em 1em;
        width: 60%;
        border-radius: 0.5em;
        border: 3px solid var(--main-grey-color);
        outline: none;
        margin-bottom: 2em; }
        @media (min-width: 320px) and (max-width: 479px) {
          .contacts .contact-form form textarea {
            width: 100%; } }
        @media (min-width: 480px) and (max-width: 639px) {
          .contacts .contact-form form textarea {
            width: 100%; } }
        @media (min-width: 640px) and (max-width: 767px) {
          .contacts .contact-form form textarea {
            width: 100%; } }
        .contacts .contact-form form textarea::-webkit-input-placeholder {
          color: var(--main-grey-color); }
        .contacts .contact-form form textarea::-moz-placeholder {
          color: var(--main-grey-color); }
        .contacts .contact-form form textarea:-ms-input-placeholder {
          color: var(--main-grey-color); }
        .contacts .contact-form form textarea::-ms-input-placeholder {
          color: var(--main-grey-color); }
        .contacts .contact-form form textarea::placeholder {
          color: var(--main-grey-color); }
        .contacts .contact-form form textarea:focus {
          border-color: #0A0; }
        .contacts .contact-form form textarea:hover {
          border-color: var(--main-gold-color); }
      .contacts .contact-form form input[type="submit"] {
        width: 15%;
        margin: 0 auto;
        background: var(--main-background-color);
        color: var(--main-gold-color);
        border-color: white; }
        @media (min-width: 320px) and (max-width: 479px) {
          .contacts .contact-form form input[type="submit"] {
            width: 50%; } }
        @media (min-width: 480px) and (max-width: 639px) {
          .contacts .contact-form form input[type="submit"] {
            width: 50%; } }
        @media (min-width: 640px) and (max-width: 767px) {
          .contacts .contact-form form input[type="submit"] {
            width: 50%; } }
        .contacts .contact-form form input[type="submit"]:hover {
          border-color: var(--main-gold-color);
          color: white; }
  .contacts .numbers {
    flex-basis: 40%;
    margin-bottom: 4em; }
    @media (min-width: 320px) and (max-width: 479px) {
      .contacts .numbers {
        flex-basis: 100%; } }
    @media (min-width: 480px) and (max-width: 639px) {
      .contacts .numbers {
        flex-basis: 100%; } }
    @media (min-width: 640px) and (max-width: 767px) {
      .contacts .numbers {
        flex-basis: 100%; } }
    .contacts .numbers .first-part {
      width: 100%;
      margin-left: auto;
      background: white;
      padding: 0.5em;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      border-top-left-radius: 0.5em;
      border-top-right-radius: 0.5em; }
      .contacts .numbers .first-part .icon-wrapper {
        padding: 1.5em;
        font-size: 1.5em; }
        .contacts .numbers .first-part .icon-wrapper i {
          color: var(--main-blue-color);
          font-size: 1.5em; }
      .contacts .numbers .first-part h6 {
        color: var(--main-gold-color);
        font-size: 1.4em;
        margin-bottom: 1em; }
      .contacts .numbers .first-part a {
        color: var(--main-blue-color);
        font-size: 1.2em;
        font-weight: bold;
        text-shadow: 1px 1px black;
        padding: 0.5em;
        border: 3px solid var(--main-gold-color);
        border-radius: 0.5em;
        background: orange; }
        .contacts .numbers .first-part a:hover {
          color: orange;
          background: var(--main-blue-color); }
    .contacts .numbers .second-part {
      width: 100%;
      margin-left: auto;
      background: var(--main-gold-color);
      padding: 0 0.8em;
      border-bottom-left-radius: 0.5em;
      border-bottom-right-radius: 0.5em; }
      .contacts .numbers .second-part ul {
        padding: 0; }
        .contacts .numbers .second-part ul li {
          list-style: none outside;
          display: flex;
          padding: 0.5em;
          align-items: center; }
      .contacts .numbers .second-part .icon-wrapper {
        padding: 1.5em; }
        .contacts .numbers .second-part .icon-wrapper i {
          font-size: 2em; }
      .contacts .numbers .second-part h6 {
        color: var(--main-background-color);
        font-size: 1.2em; }
      .contacts .numbers .second-part i {
        color: white; }

.academy {
  padding: 2em 4em;
  background: var(--main-background-color); }
  .academy h2 {
    color: var(--main-gold-color);
    margin-bottom: 2em;
    text-align: center; }
  .academy .who-we-are {
    display: flex;
    margin-bottom: 2em;
    justify-content: center;
    opacity: 0;
    transform: translate(-2em, -4em);
    transition: opacity 0.6s ease-in-out, transform 0.6s ease-out;
    transition-delay: 1.6s; }
    .academy .who-we-are .who-we-are-info {
      flex-basis: 45%;
      padding: 2em;
      background: var(--main-background-color);
      border-top-left-radius: 2em;
      border-bottom-left-radius: 2em;
      border: 2px solid var(--main-blue-color);
      border-right: none; }
      @media (min-width: 320px) and (max-width: 479px) {
        .academy .who-we-are .who-we-are-info {
          flex-basis: 100%;
          border-right: 2px solid var(--main-blue-color);
          border-radius: 2em; } }
      @media (min-width: 480px) and (max-width: 639px) {
        .academy .who-we-are .who-we-are-info {
          flex-basis: 100%;
          border-right: 2px solid var(--main-blue-color);
          border-radius: 2em; } }
      @media (min-width: 640px) and (max-width: 767px) {
        .academy .who-we-are .who-we-are-info {
          flex-basis: 100%;
          border-right: 2px solid var(--main-blue-color);
          border-radius: 2em; } }
      .academy .who-we-are .who-we-are-info h3 {
        color: var(--main-blue-color);
        margin-bottom: 1em; }
      .academy .who-we-are .who-we-are-info p {
        color: var(--main-gold-color);
        margin-bottom: 6em; }
        @media (min-width: 320px) and (max-width: 479px) {
          .academy .who-we-are .who-we-are-info p {
            margin-bottom: 2em; } }
        @media (min-width: 480px) and (max-width: 639px) {
          .academy .who-we-are .who-we-are-info p {
            margin-bottom: 2em; } }
        @media (min-width: 640px) and (max-width: 767px) {
          .academy .who-we-are .who-we-are-info p {
            margin-bottom: 2em; } }
      .academy .who-we-are .who-we-are-info a {
        color: var(--main-blue-color);
        padding: 0.5em 1em;
        border: 2px solid var(--main-gold-color);
        border-radius: 0.5em; }
        .academy .who-we-are .who-we-are-info a:hover {
          border-color: var(--main-blue-color);
          color: var(--main-gold-color); }
    .academy .who-we-are .who-we-are-image {
      flex-basis: 50%;
      overflow: hidden;
      background: url("/Pro_Gaming_Academy/images/gamers1.jpg") no-repeat center center;
      background-size: cover;
      border-top-right-radius: 2em;
      border-bottom-right-radius: 2em;
      border: 2px solid var(--main-blue-color);
      border-left: none; }
      @media (min-width: 320px) and (max-width: 479px) {
        .academy .who-we-are .who-we-are-image {
          display: none; } }
      @media (min-width: 480px) and (max-width: 639px) {
        .academy .who-we-are .who-we-are-image {
          display: none; } }
      @media (min-width: 640px) and (max-width: 767px) {
        .academy .who-we-are .who-we-are-image {
          display: none; } }
  .academy .who-we-are-wrapper {
    display: flex;
    background: #070707;
    opacity: 0;
    transform: translate(-2em, -4em);
    transition: opacity 0.6s ease-in-out, transform 0.6s ease-out;
    transition-delay: 3s; }
    @media (min-width: 320px) and (max-width: 479px) {
      .academy .who-we-are-wrapper {
        flex-wrap: wrap; } }
    @media (min-width: 480px) and (max-width: 639px) {
      .academy .who-we-are-wrapper {
        flex-wrap: wrap; } }
    @media (min-width: 640px) and (max-width: 767px) {
      .academy .who-we-are-wrapper {
        flex-wrap: wrap; } }
    .academy .who-we-are-wrapper .who-we-are-small {
      flex-basis: 45%;
      display: flex;
      margin-bottom: 2em;
      margin: 0 auto; }
      @media (min-width: 320px) and (max-width: 479px) {
        .academy .who-we-are-wrapper .who-we-are-small {
          flex-basis: 100%; } }
      @media (min-width: 480px) and (max-width: 639px) {
        .academy .who-we-are-wrapper .who-we-are-small {
          flex-basis: 100%; } }
      @media (min-width: 640px) and (max-width: 767px) {
        .academy .who-we-are-wrapper .who-we-are-small {
          flex-basis: 100%; } }
      .academy .who-we-are-wrapper .who-we-are-small .who-we-are-small-info {
        flex-basis: 50%;
        background: var(--main-background-color);
        border-top-left-radius: 2em;
        border-bottom-left-radius: 2em;
        border: 2px solid var(--main-blue-color);
        border-right: none;
        padding: 1em 2em; }
        @media (min-width: 320px) and (max-width: 479px) {
          .academy .who-we-are-wrapper .who-we-are-small .who-we-are-small-info {
            margin-bottom: 2em;
            border-right: 2px solid var(--main-blue-color);
            border-radius: 2em;
            flex-basis: 100%; } }
        @media (min-width: 480px) and (max-width: 639px) {
          .academy .who-we-are-wrapper .who-we-are-small .who-we-are-small-info {
            margin-bottom: 2em;
            border-right: 2px solid var(--main-blue-color);
            border-radius: 2em;
            flex-basis: 100%; } }
        @media (min-width: 640px) and (max-width: 767px) {
          .academy .who-we-are-wrapper .who-we-are-small .who-we-are-small-info {
            margin-bottom: 2em;
            border-right: 2px solid var(--main-blue-color);
            border-radius: 2em;
            flex-basis: 100%; } }
        .academy .who-we-are-wrapper .who-we-are-small .who-we-are-small-info h3 {
          color: var(--main-blue-color);
          margin-bottom: 1em; }
        .academy .who-we-are-wrapper .who-we-are-small .who-we-are-small-info p {
          color: var(--main-gold-color);
          margin-bottom: 2.5em; }
        .academy .who-we-are-wrapper .who-we-are-small .who-we-are-small-info a {
          color: var(--main-blue-color);
          padding: 0.5em 1em;
          border: 2px solid var(--main-gold-color);
          border-radius: 0.5em;
          display: inline-block;
          margin-bottom: 0.5em; }
          .academy .who-we-are-wrapper .who-we-are-small .who-we-are-small-info a:hover {
            border-color: var(--main-blue-color);
            color: var(--main-gold-color); }
    .academy .who-we-are-wrapper .who-we-are-image-small {
      flex-basis: 50%;
      overflow: hidden;
      border-top-right-radius: 2em;
      border-bottom-right-radius: 2em;
      border: 2px solid var(--main-blue-color);
      border-left: none;
      position: relative; }
      @media (min-width: 320px) and (max-width: 479px) {
        .academy .who-we-are-wrapper .who-we-are-image-small {
          display: none; } }
      @media (min-width: 480px) and (max-width: 639px) {
        .academy .who-we-are-wrapper .who-we-are-image-small {
          display: none; } }
      @media (min-width: 640px) and (max-width: 767px) {
        .academy .who-we-are-wrapper .who-we-are-image-small {
          display: none; } }
      .academy .who-we-are-wrapper .who-we-are-image-small img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden; }
        @media (min-width: 320px) and (max-width: 479px) {
          .academy .who-we-are-wrapper .who-we-are-image-small img {
            display: none; } }
        @media (min-width: 480px) and (max-width: 639px) {
          .academy .who-we-are-wrapper .who-we-are-image-small img {
            display: none; } }
        @media (min-width: 640px) and (max-width: 767px) {
          .academy .who-we-are-wrapper .who-we-are-image-small img {
            display: none; } }

.loaded .who-we-are {
  opacity: 1;
  transform: translate(0, 0); }

.loaded .who-we-are-wrapper {
  opacity: 1;
  transform: translate(0, 0); }

.gallery-wrapper {
  background: var(--main-background-color); }
  .gallery-wrapper h2 {
    text-align: center;
    color: var(--main-gold-color);
    margin-bottom: 1em;
    padding-top: 1em; }

.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(12, 5vw);
  grid-gap: 1em;
  max-width: 80%;
  margin: 0 auto; }
  .gallery div {
    border-radius: 0.5em;
    border: 1px solid var(--main-gold-color);
    padding: 0.5em;
    opacity: 0;
    transform: translate(-4em, -2em);
    transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out; }
  .gallery img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 0.5em; }

.gallery div:nth-child(1) {
  transition-delay: 1.75s; }

.gallery div:nth-child(2) {
  transition-delay: 2s; }

.gallery div:nth-child(3) {
  transition-delay: 2.25s; }

.gallery div:nth-child(4) {
  transition-delay: 2.5s; }

.gallery div:nth-child(5) {
  transition-delay: 2.75s; }

.gallery div:nth-child(6) {
  transition-delay: 3s; }

.gallery div:nth-child(7) {
  transition-delay: 3.25s; }

.gallery div:nth-child(8) {
  transition-delay: 3.5s; }

.gallery div:nth-child(9) {
  transition-delay: 3.75s; }

.gallery-item-1 {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 5; }

.gallery-item-2 {
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 3; }

.gallery-item-3 {
  grid-column-start: 7;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 3; }

.gallery-item-4 {
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 5; }

.gallery-item-5 {
  grid-column-start: 7;
  grid-column-end: 8;
  grid-row-start: 3;
  grid-row-end: 5; }

.gallery-item-6 {
  grid-column-start: 4;
  grid-column-end: 8;
  grid-row-start: 5;
  grid-row-end: 8; }

.gallery-item-7 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 8; }

.gallery-item-8 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 7; }

.gallery-item-9 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 7;
  grid-row-end: 8; }

.gallery-item-10 {
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 8;
  grid-row-end: 12; }

.loaded .gallery div {
  opacity: 1;
  transform: translate(0, 0); }

.site-footer {
  background: var(--main-background-color);
  border-top: 5px solid var(--main-blue-color); }
  @media (min-width: 320px) and (max-width: 479px) {
    .site-footer {
      transition: none; } }
  @media (min-width: 480px) and (max-width: 639px) {
    .site-footer {
      transition: none; } }
  .site-footer h5 {
    color: var(--main-gold-color);
    margin-bottom: 1.5em;
    opacity: 0;
    transform: translateX(1em);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-out;
    transition-delay: 1.7s; }
    @media (min-width: 320px) and (max-width: 479px) {
      .site-footer h5 {
        text-align: center;
        opacity: 1;
        transform: translateX(0); } }
    @media (min-width: 480px) and (max-width: 639px) {
      .site-footer h5 {
        text-align: center;
        opacity: 1;
        transform: translateX(0); } }
  .site-footer h6 {
    color: var(--main-gold-color); }
  .site-footer .footer-wrapper {
    padding: 1em 2em;
    display: flex;
    justify-content: space-between; }
    @media (min-width: 320px) and (max-width: 479px) {
      .site-footer .footer-wrapper {
        flex-direction: column;
        align-items: center; } }
    @media (min-width: 480px) and (max-width: 639px) {
      .site-footer .footer-wrapper {
        flex-direction: column;
        align-items: center; } }
    @media (min-width: 640px) and (max-width: 767px) {
      .site-footer .footer-wrapper {
        flex-wrap: wrap;
        justify-content: space-between; } }
  .site-footer li {
    list-style: none outside;
    opacity: 0;
    transform: translateY(-1em);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-out; }
    .site-footer li:nth-child(1) {
      transition-delay: 0.2s; }
    .site-footer li:nth-child(2) {
      transition-delay: 0.4s; }
    .site-footer li:nth-child(3) {
      transition-delay: 0.6s; }
    .site-footer li:nth-child(4) {
      transition-delay: 0.8s; }
    .site-footer li:nth-child(5) {
      transition-delay: 1s; }
    .site-footer li:nth-child(6) {
      transition-delay: 1.2s; }
    .site-footer li:nth-child(7) {
      transition-delay: 1.4s; }
    .site-footer li:nth-child(8) {
      transition-delay: 1.6s; }
    .site-footer li:nth-child(9) {
      transition-delay: 1.8s; }
    .site-footer li:nth-child(10) {
      transition-delay: 2s; }
    .site-footer li:nth-child(11) {
      transition-delay: 2.2s; }
    .site-footer li:nth-child(12) {
      transition-delay: 2.4s; }
    .site-footer li:nth-child(13) {
      transition-delay: 2.6s; }
    @media (min-width: 320px) and (max-width: 479px) {
      .site-footer li {
        transition: none;
        opacity: 1;
        transform: translateY(0); } }
    @media (min-width: 480px) and (max-width: 639px) {
      .site-footer li {
        transition: none;
        opacity: 1;
        transform: translateY(0); } }
    .site-footer li a {
      display: flex;
      margin-bottom: 0.5em; }
      .site-footer li a h6 {
        color: var(--main-blue-color);
        margin-left: 0.7em; }
      .site-footer li a:hover h6 {
        color: var(--main-gold-color); }
  .site-footer img {
    width: 30px;
    height: 30px; }

@media (min-width: 640px) and (max-width: 767px) {
  .logo {
    width: 100%;
    padding-left: 15em;
    margin-bottom: 2em; } }

.logo a img {
  width: 200px;
  height: 100px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out 1.5s; }
  @media (min-width: 320px) and (max-width: 479px) {
    .logo a img {
      width: 100px;
      height: 50px;
      margin: 0 auto;
      display: block;
      opacity: 1;
      transition: none; } }
  @media (min-width: 480px) and (max-width: 639px) {
    .logo a img {
      width: 200px;
      height: 100px;
      margin: 0 auto;
      display: block;
      opacity: 1;
      transition: none; } }
  @media (min-width: 1600px) and (max-width: 1920px) {
    .logo a img {
      width: 350px;
      height: 200px; } }

.logo ul {
  display: flex;
  margin: 2em 0; }
  @media (min-width: 320px) and (max-width: 479px) {
    .logo ul {
      -webkit-animation: none;
              animation: none;
      justify-content: center; } }
  @media (min-width: 480px) and (max-width: 639px) {
    .logo ul {
      -webkit-animation: none;
              animation: none;
      justify-content: center; } }
  .logo ul a {
    margin-right: 0.5em; }
  .logo ul i {
    font-size: 1.5em;
    color: var(--main-gold-color); }
    .logo ul i:hover {
      color: var(--main-blue-color); }

.logo .addition {
  margin-top: 1em;
  opacity: 0;
  transform: translateX(-1em);
  transition: 0.4s transform ease-in, opacity 0.4s ease-out;
  transition-delay: 1.5s; }
  @media (min-width: 320px) and (max-width: 479px) {
    .logo .addition {
      text-align: center;
      opacity: 1;
      transform: translateX(0);
      transition: none; } }
  @media (min-width: 480px) and (max-width: 639px) {
    .logo .addition {
      text-align: center;
      opacity: 1;
      transform: translateX(0);
      transition: none; } }
  .logo .addition a {
    font-size: 0.6em;
    text-align: center;
    color: var(--main-grey-color);
    padding-right: 0.4em; }
    .logo .addition a:hover {
      color: white; }

.sponsorship {
  padding-top: 2em; }

.footer-games {
  padding-top: 2em; }

.animate li {
  opacity: 1;
  transform: translateY(0); }

.animate .addition {
  opacity: 1;
  transform: translateX(0); }

.animate h5 {
  opacity: 1;
  transform: translateX(0); }

.animate .logo img {
  opacity: 1; }
