body.page-login, body.page-register {
    margin: 8em auto;
    background: linear-gradient( rgba(7, 7, 7, 0.7), rgba(7, 7, 7, 0.7) ), url('/Pro_Gaming_Academy/images/register.jpg') no-repeat center center;
    @include bp(480) {
        margin: 3em auto;
    }
    @include bp(640) {
        margin: 2em auto;        
    }
    @include bp(768) {
        margin: 2em auto;        
    }
    @include bp(960) {
        margin: 2em auto;        
    }
    @include bp(1024) {
        margin: 2em auto;        
    }
    @include bp(1600) {
        margin: 0em auto;        
    }
}
.form {
    // background: linear-gradient( rgba(7, 7, 7, 0.7), rgba(7, 7, 7, 0.7) ), url('../../images/register.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2em;
    @include bp(320) {
        margin: 0 auto;
        padding: 10em auto;
    }
    @include bp(1024) {
        max-width: 1024px;
        margin: 0 auto;
    }
    a {
        width: 100%;
        text-align: center;
    }
    img {
        width: 200px;
        height: 100px;
    }
    .form-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 35%;
        margin: 0 auto;
        background: rgba(7, 7, 7, 0.7);
        border-radius: 2em;
        @include bp(320) {
            width: 100%
        }
        @include bp(480) {
            width: 70%
        }
        @include bp(640) {
            width: 60%
        }
        @include bp(768) {
            width: 45%
        }
        @include bp(960) {
            width: 40%
        }
        @include bp(1024) {
            width: 45%
        }
        h2 {
            text-align: center;
            width: 100%;
            padding-top: 1em;
            color: var(--main-gold-color);
        }
        a {
            font-weight: bold;
            font-size: 1.2em;
            color: var(--main-gold-color);
            margin-bottom: 1em;
        }
        form {
            width: 100%;
            text-align: center;

            a {
                width: 100%;
                display: block;
                color: var(--main-gold-color);
                margin-bottom: 1em;
                font-weight: normal;
                font-size: 1em;
            }
            input[type="submit"] {
                padding: 0.5em 2em;
                background: var(--main-blue-color);
                color: white;
                margin-bottom: 1em;
                font-weight: bold;
                &:hover {
                    background: white;
                    color: var(--main-blue-color);
                    border-color: var(--main-blue-color)
                }
                @include bp(640) {
                    width: 60%
                }
                @include bp(768) {
                    width: 60%
                }
                @include bp(960) {
                    width: 60%
                }
            }
            p {
                padding: 0.4em 0;
                background: rgba(45, 44, 42, 0.9);
                max-width: 85%;
                margin: 1em auto;
                @include bp(640) {
                    margin: 2em auto;
                }
                input {
                    background: rgba(30, 29, 27, 0.7);
                    outline: none;
                    border: 1px solid #1e1d1b;
                    width: 85%;
                    padding: 0.4em;
                    &:focus {
                        border: 1px solid white
                    }
                    &::placeholder {
                        color: white
                    }
                }
                i {
                    margin: 0 0.6em;
                    color: white;
                }
            }
            .forgot-password {
                display: flex;
                justify-content: space-between;
                margin: 2em 0 4em 0;
                @include bp(768) {
                    margin: 2em 0;
                }
                @include bp(960) {
                    margin: 2em 0;
                }
            }
        }
        .form-social {
            text-align: center;
            
            p {
                color: white
            }
            ul {
                display: flex;
                justify-content: center;
                li {
                    list-style: none outside;
                    i {
                        font-size: 1.5em;
                        margin-right: 0.5em;
                        color: white;
                        padding: 0.3em;
                        border-radius: 50%;
                        background: rgba(45, 44, 42, 0.7);
                        &:nth-child(3) {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }
}