.site-header {
    background: var(--main-background-color);
    border-bottom: 5px solid var(--main-blue-color);
    .header-wrapper {
      padding: 0 2em;
      display: flex;
      align-items: center;
      @include bp(320) {
       display: block;
       text-align: center;
      }
      @include bp(480) {
        display: block;
        text-align: center;
       }
    }
  }
  
  .header-wrapper {
    a {
      padding: 0;
      margin: 0;
      display: block;
    }
    img {
      width: 200px;
      height: 100px;
      display: block;
      opacity: 0;
      transform: translateY(10em);
      transition: opacity 1s ease-in-out 0.8s, transform 1s ease-out 0.8s;
      @include bp(320) {
        width: 100px;
        height: 50px;
        margin: 0 auto;
      }
      @include bp(480) {
        width: 200px;
        height: 100px;
        margin: 0 auto;
      }
      @include bp(1600) {
        width: 350px;
        height: 200px;
      }
    }
  }
  
  body.loaded .header-wrapper img {
    opacity: 1;
    transform: translateY(0);
  }