@media (min-width: var(--phone-width)) {
    html {
        font-size: 10px
    }
}
@media (min-width: 480px) {
    html {
        font-size: 10px
    }
}
@media (min-width: 640px) {
    html {
        font-size: 10px
    }
}
@media (min-width: 768px) {
    html {
        font-size: 12px
    }
}
@media (min-width: 960px) {
    html {
        font-size: 14px
    }
}
@media (min-width: 1024px) {
    html {
        font-size: 16px
    }
}

@media (min-width: 1600px) {
    html {
        font-size: 26px
    }
}