@media (min-width: 320px) and (max-width: 479px) {
    html {
        font-size: 10px;
    }
  }
@media (min-width: 480px) and (max-width: 639px) {
    html {
        font-size: 12px;
    }
  }
  @media (min-width: 640px) and (max-width: 767px) {
    html {
        font-size: 12px;
    }
  }
  @media (min-width: 768px) and (max-width: 959px) {
    html {
        font-size: 12px;
    }
  }
  @media (min-width: 960px) and (max-width: 1023px) {
    html {
        font-size: 14px;
    }
  }
  @media (min-width: 1024px) and (max-width: 1599px) {
    html {
        font-size: 16px;
        body {
          background: var(--main-background-color);
        }
        .site {
          max-width: 1024px;
          margin: 0 auto;
        }
    }
  }
  @media (min-width: 1600px) {
    html {
        font-size: 22px;
    }
    body {
      background: var(--main-background-color);
    }
    .site {
      max-width: 1600px;
      margin: 0 auto;
    }
  }
