.team {
    padding: 0 4em;
    background: var(--main-background-color);
    h2 {
        text-align: center;
        margin-bottom: 2em;
        color: var(--main-gold-color);
        &::after {
            display: block;
            content: '';
            border-bottom: 5px solid var(--main-blue-color);
            max-width: 15%;
            margin: 1em auto
        }
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        @include bp(320) {
            display: block;
        }
        @include bp(480) {
            display: block;
        }
        li {
            list-style: none outside;
            text-align: center;
            flex-basis: 30%;
            margin-right: 2em;
            margin-bottom: 2em;
            opacity: 0;
            transform: translateY(-2em);
            transition: opacity 0.5s ease-in-out, transform 0.5s ease-out;            
            transition-delay: 1.5s;
            @include bp(320) {
                margin-bottom: 15em;
                margin-top: 15em
            }
            @include bp(480) {
                margin-bottom: 10em;
                margin-top: 10em
            }
            @include bp(640) {
                flex-basis: 45%;
                margin-bottom: 5em;
                margin-top: 5em
            }
            @include bp(768) {
                flex-basis: 45%;
                margin-bottom: 5em;
                margin-top: 5em
            }
            @include bp(960) {
                flex-basis: 45%;
                margin-bottom: 5em;
                margin-top: 5em
            }
            @include bp(1024) {
                flex-basis: 45%;
                margin-bottom: 2em;
                margin-top: 2em
            }
            @include bp(1600) {
                margin-bottom: 5em;
                margin-top: 5em;
            }
            &:hover ul {
                background: var(--main-blue-color);
                i {
                    color: var(--main-gold-color);
                }
            }
            .team-wrapper {
                box-shadow: 10px 10px 45px 0px rgba(255,255,255,0.75);
                width: 70%;
                margin: 0 auto;
                position: relative;
                border-radius: 1em;
                margin-top: 5em;
                &::before {
                    display: block;
                    content: '';
                    padding-top: 50%;
                    @include bp(320) {
                        padding-top: 30%;
                    }
                    @include bp(480) {
                        padding-top: 40%;
                    }
                    @include bp(640) {
                        padding-top: 40%;
                    }
                    @include bp(768) {
                        padding-top: 40%;
                    }
                    @include bp(960) {
                        padding-top: 40%;
                    }
                }
                @include bp(320) {
                    width: 100%;
                }
                @include bp(480) {
                    width: 70%;
                }
                @include bp(640) {
                    width: 100%
                }
                @include bp(768) {
                    width: 80%
                }
                @include bp(960) {
                    width: 80%
                }
                @include bp(1600) {
                    width: 90%
                }
            }
            .image-wrapper {
                img {
                    width: 150px;
                    height: 200px;
                    overflow: hidden;
                    border-radius: 5em;
                    position: absolute;
                    bottom: 70%;
                    left: 50%;
                    transform: translateX(-50%);
                    @include bp(320) {
                        max-width: 100px;
                        max-height: 150px;
                        bottom: 80%;
                    }
                    @include bp(480) {
                        max-width: 100px;
                        max-height: 150px;
                        bottom: 80%;
                    }
                    @include bp(640) {
                        max-width: 150px;
                        max-height: 200px;
                        bottom: 70%;
                    }
                    @include bp(768) {
                        max-width: 150px;
                        max-height: 200px;
                        bottom: 70%;
                    }
                    @include bp(960) {
                        max-width: 150px;
                        max-height: 200px;
                        bottom: 70%;
                    }
                    @include bp(1600) {
                        bottom: 80%;
                        width: 200px;
                        height: 250px
                    }
                }
                
            }
            h5 {
                width: 100%;
                color: var(--main-gold-color);
                margin-bottom: 1em;
            }
            h6 {
                width: 100%;
                color: var(--main-blue-color);
                margin-bottom: 1em;
            }
            p {
                width: 70%;
                margin: 0 auto;
                color: white
            }
            ul {
                background: white;
                border-bottom-left-radius: 1em;
                border-bottom-right-radius: 1em;
                @include bp(320) {
                    display: flex;
                    justify-content: center;
                    padding: 1em 0;
                }
                @include bp(480) {
                    display: flex;
                    justify-content: center;
                    padding: 1em 0;
                }
                @include bp(640) {
                    display: flex;
                    justify-content: center;
                    padding: 1em 0;
                }
                @include bp(768) {
                    display: flex;
                    justify-content: center;
                    padding: 1em 0;
                }
                @include bp(960) {
                    display: flex;
                    justify-content: center;
                    padding: 1em 0;
                }
                @include bp(1024) {
                    display: flex;
                    justify-content: center;
                    padding: 1em 0;
                }
                @include bp(1600) {
                    display: flex;
                    justify-content: center;
                    padding: 1em 0;
                }
               
                li {
                    margin: 0 0 0 0.8em;
                    padding: 0;
                    flex-basis: 0;
                    i {
                        font-size: 1.5em;
                        color: var(--main-blue-color)
                    }
                }
            }
        }
    }
}
.loaded .team li {
    opacity: 1;
    transform: translateY(0)
}
