.team {
    padding: 0 4em;
    background: var(--main-background-color);
    h2 {
        text-align: center;
        margin-bottom: 2em;
        color: var(--main-gold-color);
        &::after {
            display: block;
            content: '';
            border-bottom: 5px solid var(--main-blue-color);
            max-width: 15%;
            margin: 1em auto
        }
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        li {
            list-style: none outside;
            text-align: center;
            flex-basis: 30%;
            margin-right: 2em;
            margin-bottom: 2em;
            opacity: 0;
            transform: translateY(-2em);
            transition: opacity 0.5s ease-in-out, transform 0.5s ease-out;            
            transition-delay: 1.5s;
            &:hover ul {
                background: var(--main-blue-color)
                i {
                    color: var(--main-gold-color);
                }
                
            }
            .team-wrapper {
                box-shadow: 10px 10px 45px 0px rgba(255,255,255,0.75);
                width: 70%;
                margin: 0 auto;
                position: relative;
                border-radius: 1em;
                margin-top: 5em;
                &::before {
                    display: block;
                    content: '';
                    padding-top: 50%;
                }
            }
            .image-wrapper {
                img {
                    width: 150px;
                    height: 200px;
                    overflow: hidden;
                    border-radius: 5em;
                    position: absolute;
                    bottom: 70%;
                    left: 50%;
                    transform: translateX(-50%)
                }
            }
            h5 {
                width: 100%;
                color: var(--main-gold-color);
                margin-bottom: 1em;
            }
            h6 {
                width: 100%;
                color: var(--main-blue-color);
                margin-bottom: 1em;
            }
            p {
                width: 70%;
                margin: 0 auto;
                color: white
            }
            ul {
                background: white;
                border-bottom-left-radius: 1em;
                border-bottom-right-radius: 1em;
                li {
                    margin: 0 0 0 0.8em;
                    padding: 0;
                    flex-basis: 0;
                    i {
                        font-size: 1.5em;
                        color: var(--main-blue-color)
                    }
                }
            }
        }
    }
}
.loaded .team li {
    opacity: 1;
    transform: translateY(0)
}